@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
/*Primary*/
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
/*Neutral*/

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("images/pattern-background-desktop.svg");
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

.order {
    height: 550px;
    width: 350px;
    display: grid;
    grid-template-rows: 180px auto;
    overflow: hidden;
    border-radius: 15px;
    background-color: #fff;
}

.order .hero-picture img {
    width: 100%;
}

.order .hero-picture {
    overflow: hidden;
}

.hero-content {
    display: grid;
    place-items: center;
    padding: 20px;
    height: 100%;
}

.hero-content .title {
    font-size: 24px;
    font-weight: 800;
}

.hero-content .description {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 20px;
    text-align: center;
    color: var(--desaturated-blue);
}

.hero-content .plan {
    display: flex;
    padding: 25px;
    gap: 10px;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    font-size: 12px;
    height: 80px;
}

.hero-content .plan .annual-plan {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -30px;
}

.hero-content .plan .annual-plan img {
    width: 40px;
}

.hero-content .plan .annual-plan .spans {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    padding: 10px;
    line-height: 1.5;
}

.hero-content .plan .annual-plan .spans .annual-plan-span {
    font-weight: bold;
}

.hero-content .plan .annual-plan .spans .price-span {
    opacity: 0.55;
}

.hero-content .plan .change-plan {
    font-size: 11px;
    font-weight: bold;
    color: var(--bright-blue);
    margin-right: -30px;
}

.hero-content .proceed-btn {
    margin-top: 10px;
    width: 90%;
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 5px hsla(0, 0%, 50%, 0.6);
    padding: 5px 25px;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
}

.hero-content .cancel-btn {
    font-size: 13px;
    font-weight: bold;
    opacity: 0.5;
}

.hero-content .plan .change-plan:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
}

.hero-content .proceed-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hero-content .cancel-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.order:hover > .hero-picture > img{
    transform: scale(1.1);
    z-index: -1;
}

button, img, .change-plan, .cancel-btn {
    transition: all .5s ease !important;
}

@media screen and (max-width: 600px) {
    body {
        background-image: url("images/pattern-background-mobile.svg");
    }

    .order {
        width: 320px;
        grid-template-rows: 150px auto;
    }
}
